#page-study #container {
  width: 100vw;
  height: 100vh;
}

.page-header {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.page-header .top-bar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0;
}

.page-header .top-bar-container img {
  height: 1.6rem;
}

.page-header .top-bar-container a {
  height: 3.2rem;
  opacity: 1.0;
}

.page-header .top-bar-container img {
  height: 1.6rem;
}